{% extends "encyclopedia/layout.html" %}

{% block title %}
 Wiki/Create entry
{% endblock %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
{% endfor %}
{% endif%}
<h1>Create an entry!</h1>
    <form action="{% url 'create' %}" method="POST" autocomplete="off"> 
        {% csrf_token %}
        <input style="min-width: 30%;" type="text" class="form-contro mb-3" name="title" id="title" placeholder="Type the name for the new entry">
        <textarea class="form-control" name="entry" id="entry" rows="15" cols="2"></textarea> 
        <div class="mt-2">
        <button class="btn btn-primary" type="submit" style="float: right;">Create</button>
        <a class="btn" href="{% url 'index' %}" style="float: right;">cancel</a>
        </div>
        
    </form>
{% endblock %}