{% extends "encyclopedia/layout.html" %}

{% block title%}
    Edit : {{ title }}
{% endblock%}

{% block body %}
{% if content %}
<div class="container">
  <div class="form-group">
    <h1>Editing {{ title }} content.</h1>
    <form action="{% url 'save_changes' page_name=title %}" method="POST" >
      {% csrf_token %}
      <textarea class="form-control" name="md" id="md" rows="15" cols="2">{{ content }}</textarea>
       <div class="mt-2">
        <button type="submit" class="btn btn-primary" style="float: right;">Save changes</button>
        <a class="btn" href="{% url 'page_redirect' name=title %}" style="float: right;">cancel</a>
       </div>
    </form>
  </div>
 
  
</div>
{% else %}
<div class="container">
  <h1>This url does not exist 😔</h1>
  <p>You are trying to edit a page that does not exist 👻!</p>
</div>
  
{% endif %}
{% endblock %}